{% extends "bootstrap/base.html" %} 

{% block head %}
  {{ super() }}
    <title>
        { {% block title %} Pomodoro Time | {% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" >
    {% endblock head %}
    
    {% block body %}
    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock navbar %}

    {% for message in get_flashed_messages()  %}
        <div class="alert alert-success allert-dismissible">
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            {{ message  }}
        </div>
    {% endfor %}

    <div class="container-fluid main-content d-flex align-items-center flex-column justify-content-center">
        {% block content %}
        
        {% endblock content %}
    </div>
    
    
    {% block footer %}
    {% include "footer.html" %}
    {% endblock footer %}
    
    {% block scripts %}
    {{ super() }}  
        <script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
        <script>

        </script>
    {% endblock scripts %}
{% endblock body %}
