
<div class="card col-12 col-lg-4">
  <div class="card-body">
    <h2 class="card-title text-center">Concentrate Rusbel</h2>
    <h3 class="card-subtitle text-center mb-2 ">Esta es tu tarea Activa</h6>
    <div class="container">
        <ul class="flip-clock-container flip">
        <li class="flip-item-seconds">00</li>
        <li class="flip-item-minutes">25</li>
        </ul>
    </div>
    <div class="mt-3 text-center" >
        <button type="button" class="btn btn-outline-success mr-3">Play</button>
        <button type="button" class="btn btn-outline-danger ml-3">Stop</button>
    </div>
</div>
</div>
